.input__container{
    width: calc(100% - 30px);
    background-color: #2D2A40;
    padding: 15px 15px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input__container>input{
    width: 100%;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

input::placeholder{
    color: #8789A7;
}